body {
  background-image: url("https://cdn.hipwallpaper.com/i/43/38/QFx4fU.jpg");
  background-attachment: fixed;
}

header {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a:hover {
  color: goldenrod;
  outline: none;
  text-decoration: none;
}

.radioBtn {
  text-align: center;
  font-size: 20px;
}

label {
  color: goldenrod;
}

h2,
h3 {
  color: white;
}

.saveButton,
.deleteButton {
  border: solid 1px black;
  padding: 4px 4px 4px 4px;
  background-color: lightgray;
  cursor: pointer;
}

.brew {
  margin-bottom: 4%;
  border: solid 2px blanchedalmond;
  background-color: rgba(240, 193, 66, 0.39);
}

.brew h3,
a {
  font-size: 200%;
}

.name {
  font-size: 250%;
}

.name,
.zip,
.url,
.phone {
  margin-bottom: 2%;
}

.brewery-list,
.saved-list {
  text-align: center;
}

a {
  padding-bottom: 2%;
}

button {
  margin-top: 2%;
}

@media screen and (max-width: 600px) {
  .url {
    font-size: 150%;
  }

  .phone {
    font-size: 175%;
  }

  .brew h3 {
    font-size: 180%;
  }

  .name {
    font-size: 225%;
  }
}

@media screen and (max-width: 450px) {
  .url {
    font-size: 120%;
  }

  .phone {
    font-size: 150%;
  }

  .brew h3 {
    font-size: 160%;
  }

  .name {
    font-size: 200%;
  }
}